[cmdk-root] {
  position: fixed;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);

  max-width: 640px;
  width: 100%;

  z-index: 999999;

  @apply bg-white shadow-xl ring-1 ring-black/10 rounded-xl overflow-hidden;
}

[cmdk-input] {
  @apply w-full px-4 py-2 focus:outline-none bg-transparent text-lg;
}

[cmdk-group]:nth-child(1) {
  @apply border-t;
}

[cmdk-group-heading] {
  @apply select-none px-4 py-2 text-black/60 text-sm;
}

[cmdk-item] {
  @apply px-3 py-2 border-l-[4px] border-l-transparent transition-colors cursor-pointer flex gap-4 items-center;

  &[data-selected="true"] {
    @apply bg-black/5 border-l-primary;
  }
}

[cmdk-empty] {
  @apply p-4;
}
